@import "tailwindcss";

:root {
  --primary: #000000;
  --gray: #999999;
  --danger: #ff3333;
  --pink: #ffebeb;
  --light-grey: #f0f0f0;
}

@theme inline {
  --color-primary: var(--primary);
  --color-gray: var(--gray);
  --color-danger: var(--danger);
  --color-pink: var(--pink);
  --color-light-grey: var(--light-grey);
}

body {
  font-family: "Satoshi-Variable";
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.search__input {
  background-image: url("./assets/svg/search-icon.svg");
  background-repeat: no-repeat;
  background-position: 16px 50%;
}
button {
  cursor: pointer;
}
.style_box {
  background-image: url('./assets/style_img1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
}
.style_box:nth-child(2){
  background-image: url('./assets/style_img2.png');
}
.style_box:nth-child(3){
  background-image: url('./assets/style_img3.png');
}
.style_box:nth-child(4){
  background-image: url('./assets/style_img4.png');
}

.style_wrapper {
  position: relative;
}

.mySwiper {
  padding: 40px 0 !important;
  position: static  ;
}
.swiper-button-prev {
  top: 10px !important;
  left: 90% !important;
  position: absolute !important;
  background-image: url('./assets/svg/left-icon.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.swiper-button-next {
  background-image: url('./assets/svg/right-icon.svg');
  top: 10px !important;
  left: 95% !important;
  position: absolute !important;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.swiper-button-prev::after, .swiper-button-next::after {
  content: '' !important;
}
.footer__input {
  background-image: url('./assets/mail-icon.png');
  background-repeat: no-repeat;
  background-position: 7%;
}

